<launch>

  <arg name="sim" default="true" />
  <arg name="N" default="4" />  <!--CHANGE THIS VALUE TO CHANGE NUMBER OF NEXUS ROBOTS-->

  <arg name="N_check" default="1" />

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="nexusport" default="/dev/ttyUSB.nexus" />
  <arg name="armport" default="/dev/ttyUSB.arm" />
  <arg name="pre" default="$(eval 'n_'+str(arg('N')))" />

  <!-- These changing arguments are for the poses of the robots -->
  <arg name='x_cen' default="2"/>
  <arg name='y_cen' default="2"/>
  <arg name="x" default="$(eval 0.6*cos(2*pi*4**(-1)*(-(arg('N')-1))-2.356)+arg('x_cen'))"/>  
  <arg name="y" default="$(eval 0.6*sin(2*pi*4**(-1)*(-(arg('N')-1))-2.356)+arg('y_cen'))"/>
  <arg name="Y" default="0"/>




  <group ns="$(arg pre)">

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lasmultidescription4)/urdf/robot_base_multiple.xacro' prefix:=$(arg pre)" />
    
    <!--<node name="nexus" pkg="nexus" type="nexus_driver" output="screen" clear_params="true">
      <rosparam file="$(find nexus)/config/nexus.yaml" command="load" />
      <param name="sim" value="$(arg sim)" />
      <param name="port" value="$(arg nexusport)" />
      <param name="namespace" value="$(arg pre)" />  
    </node>-->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find lasmultigazebo4)/config/ekf_localization_N_nexus.yaml" /> 
      <param name="base_link_frame" type="string" value="$(arg pre)base_footprint" />
      <param name="odom0" type="string" value="/$(arg pre)/odom" />
      <param name="imu0" type="string" value="/$(arg pre)/imu_data" />
      <param name="odom_frame" type="string" value="$(arg pre)/odom" />
      <param name="world_frame" type="string" value="$(arg pre)/odom" />
    </node>
    
    <node name="spawn_nexus_$(arg N)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -x $(arg x) -y $(arg y) -Y $(arg Y) -model nexus_$(arg N)"/> 

  </group>

  
 
  <!-- recursively start This launch file -->
  <include file="$(find lasmultigazebo4)/launch/N_nexus_world.launch" if="$(eval arg('N') - 1 > 0)">
      <arg name="N" value="$(eval arg('N') - 1)"/>
  </include>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(eval arg('N') == arg('N_check'))">
    <arg name="world_name" value="$(find lasmultigazebo4)/worlds/wall_world.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include> 

 


</launch>
