<launch>

  <arg name="sim" default="true" />
  <arg name="N" default="8" />  <!--CHANGE THIS VALUE TO CHANGE NUMBER OF NEXUS ROBOTS SPAWNED-->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lasmultigazebo3)/worlds/nexus.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include> 

  <node name="spawn_nexus_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_1/robot_description -x -0 -y -0 -Y 0 -model nexus_1"/> 

  <node name="spawn_nexus_2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_2/robot_description -x 1 -y 0.5 -Y 0 -model nexus_2"/> 

  <node name="spawn_nexus_3" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_3/robot_description -x 1 -y -0.5 -Y 0 -model nexus_3"/> 

  <node name="spawn_nexus_4" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_4/robot_description -x 0 -y -1 -Y 0 -model nexus_4"/> 

  <node name="spawn_nexus_5" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_5/robot_description -x -1 -y -0.5 -Y 0 -model nexus_5"/> 

  <node name="spawn_nexus_6" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_6/robot_description -x -1 -y 0.5 -Y 0 -model nexus_6"/> 

  <node name="spawn_nexus_7" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_7/robot_description -x 0 -y 1 -Y 0 -model nexus_7"/> 

  <node name="spawn_nexus_8" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_8/robot_description -x 1 -y 1 -Y 0 -model nexus_8"/> 

    <!-- <node name="spawn_nexus_9" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_9/robot_description -x -1.5 -y -1.5 -Y 0 -model nexus_9"/>

  <node name="spawn_nexus_10" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_10/robot_description -x 1.5 -y -1.5 -Y 0 -model nexus_9"/>

  <node name="spawn_nexus_11" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_11/robot_description -x -1.5 -y 1.5 -Y 0 -model nexus_9"/>

  <node name="spawn_nexus_12" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_12/robot_description -x 1.5 -y 1.5 -Y 0 -model nexus_9"/>

  <node name="spawn_nexus_13" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_13/robot_description -x -2 -y -2 -Y 0 -model nexus_9"/>

  <node name="spawn_nexus_14" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param n_14/robot_description -x -2 -y -2 -Y 0 -model nexus_9"/> -->







</launch>