<launch>

  <!-- Launch the arbotix driver in fake mode by default -->
  <arg name="sim" default="true" />
  <arg name="1" default="n_1" />
  <arg name="2" default="n_2" />
  <arg name="3" default="n_3" />
  <arg name="4" default="n_4" />
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  

  <param name="/use_sim_time" value="false" />


  <!-- If using the real controllers -->
  <arg name="nexusport" default="/dev/ttyUSB.nexus" />
  <arg name="armport" default="/dev/ttyUSB.arm" />


  <!-- ROBOTS: each group launches one the robot_base_multiple. xacro file and one_nexus_laser.launch file -->

  <group ns="$(arg 1)">
    <param name="robot_description"
       command="$(find xacro)/xacro --inorder '$(find lasmultidescription3)/urdf/robot_base_multiple.xacro' prefix:=$(arg 1)" />
    
    <node name="nexus" pkg="nexus" type="nexus_driver" output="screen" clear_params="true">
        <rosparam file="$(find nexus)/config/nexus.yaml" command="load" />
        <param name="sim" value="$(arg sim)" />
        <param name="port" value="$(arg nexusport)" />
        <param name="namespace" value="$(arg 1)" />  <!-- voor de frames --> 
    </node>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
    </node>

  </group>

  <group ns="$(arg 2)">
    <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find lasmultidescription2)/urdf/robot_base_multiple.xacro' prefix:=$(arg 2)" />
    
    <node name="nexus" pkg="nexus" type="nexus_driver" output="screen" clear_params="true">
        <rosparam file="$(find nexus)/config/nexus.yaml" command="load" />
        <param name="sim" value="$(arg sim)" />
        <param name="port" value="$(arg nexusport)" />
        <param name="namespace" value="$(arg 2)" />  <!-- voor de frames --> 
    </node>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
    </node>

  </group>

  <group ns="$(arg 3)">
    <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find lasmultidescription3)/urdf/robot_base_multiple.xacro' prefix:=$(arg 3)" />
    
    <node name="nexus" pkg="nexus" type="nexus_driver" output="screen" clear_params="true">
        <rosparam file="$(find nexus)/config/nexus.yaml" command="load" />
        <param name="sim" value="$(arg sim)" />
        <param name="port" value="$(arg nexusport)" />
        <param name="namespace" value="$(arg 3)" />  <!-- voor de frames --> 
    </node>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
    </node>

  </group>

  <group ns="$(arg 4)">
    <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find lasmultidescription3)/urdf/robot_base_multiple.xacro' prefix:=$(arg 4)" />

    <node name="nexus" pkg="nexus" type="nexus_driver" output="screen" clear_params="true">
        <rosparam file="$(find nexus)/config/nexus.yaml" command="load" />
        <param name="sim" value="$(arg sim)" />
        <param name="port" value="$(arg nexusport)" />
        <param name="namespace" value="$(arg 4)" />  <!-- voor de frames --> 
    </node>

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
    </node>

  </group>



  <!-- SPAWN JOYSTICKS for each robot -->
  <node name="arbotix_gui1" pkg="arbotix_python" type="arbotix_gui"
	respawn="false" output="screen">
    <remap from="/cmd_vel" to="/n_1/cmd_vel" />
  </node>


  <node name="arbotix_gui2" pkg="arbotix_python" type="arbotix_gui"
	respawn="false" output="screen">
    <remap from="/cmd_vel" to="/n_2/cmd_vel" />
  </node>


  <node name="arbotix_gui3" pkg="arbotix_python" type="arbotix_gui"
	respawn="false" output="screen">
    <remap from="/cmd_vel" to="/n_3/cmd_vel" />
  </node>


  <node name="arbotix_gui4" pkg="arbotix_python" type="arbotix_gui"
	respawn="false" output="screen">
    <remap from="/cmd_vel" to="/n_4/cmd_vel" />
  </node>



  <!-- Show in RVIZ   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lasmultidescription)/launch/4nexus.rviz"/>

 </launch>
